<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="Data-driven perspective on retail">
    	<meta name="author" content="Amit Kapoor">
  		
  		<title>Retailonomix</title>
    	
        <!-- ====CSS==== -->
    	<link type="text/css" rel="stylesheet" href="../assets/css/bootstrap.css" />   	
    	<link type="text/css" rel="stylesheet" href="../assets/css/custom.css" /> 
    	<link type="text/css" rel="stylesheet" href="../assets/css/d3.css" /> 
    	<link type="text/css" rel="stylesheet" href="../assets/css/bootstrap-responsive.css" /> 
       
        <!-- ====Javascript==== -->
		<script type="text/javascript" src="../assets/js/d3.v2.js"></script>
		<script type="text/javascript" src="../assets/js/jquery.js"></script>
		<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="../assets/js/application.js"></script>
        
    </head>    
    
 	<body>    
    	
		<!-- ==== Main Navigation ===== -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class ="container">
				
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					
					<a class ="brand" href="/">Retailonomix</a>
					
					<div class="nav-collapse">
						<ul class="nav pull-left">
						<!-- More Later
							<li><a href="/">Overview</a></li>							
							<li class="dropdown">
              					<a href="#" class="dropdown-toggle" 
									data-toggle="dropdown">Projects<b class="caret"></b>
								</a>
              					<ul class="dropdown-menu">
									<li><a href="/projects#pricing">Pricing</a></li>
									<li><a href="/projects#pincode">Pincode</a></li>
	
								</ul>
							</li>
							<li><a href="/presentation">Presentation</a></li>
						-->
						</ul>

						<ul class="nav pull-right">
							<li class="divider-vertical"></li>
							    <li><a href="http://amitkaps.com">
							       <img src="../assets/img/glyphicons/glyphicons_369_wordpress.png" 
							        alt="wordpress"></a></li>
								<li><a href="https://twitter.com/amitkaps">
							       <img src="../assets/img/glyphicons/glyphicons_392_twitter.png" 
							        alt="twitter"></a></li>
							    <li><a href="mailto:me@amitkaps.com?subject=retailonomix">
							       <img src="../assets/img/glyphicons/glyphicons_129_message_new.png" 
							        alt="email"></a></li>
						</ul>
					</div><!--/.nav-collapse -->
					
				</div><!-- container -->
			</div><!-- navbar-inner -->
		</div>		       
			
		<div class="container"> 	
		